#header4-0 H1 {
  color: #ffffff;
}
#msg-box5-0 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-0 .mbr-article {
  color: #ffffff;
}
#contacts3-1 P {
  text-align: left;
}
#contacts3-2 P {
  text-align: left;
}
#video2-6 SMALL {
  text-align: center;
}
#contacts3-3 P {
  text-align: left;
}
